/* @media (min-width: 576px) {
    mat-sidenav {
        width: 60% !important;
    }
}

@media (min-width: 768px) {
    mat-sidenav {
        width: 40% !important;
    }
}

@media (min-width: 992px) {
    mat-sidenav {
        width: 30% !important;
    }
}

@media (min-width: 1200px) {
    mat-sidenav {
        width: 30% !important;
    }
} */

.contacto {
    font-size: 12px;
    color: white;
}

mat-toolbar {
    display: flex;
    flex-direction: column;
    align-items:flex-start !important;
    justify-content: flex-end !important;
    height: 200px;
}

.row-carrito {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.carrito {
    padding: 5px;
}

main{
    height: 100vh; 
/*     display: flex;
    justify-content: space-between;
    flex-direction: column; */
}

.flotante {
    display:scroll;
    position:fixed;
    bottom:40px;
    right:20px;
}
