<mat-sidenav-container class="example-container">
    <mat-sidenav #drawer mode="over" opened="false" style="width: 250px;">
        <mat-toolbar [style.background-color]="colorMenu">
            <div class="" >
                <div class="mt-3 pt-2 mb-3 pb-2 text-white">
                    <app-login [width]="100"></app-login>
                </div>
            </div>
            <div class="row-carrito" >
                <a [routerLink]="['/carrito']" (click)="drawer.opened=false" class="carrito">
                    <i class="fas fa-shopping-cart text-white"></i>
                </a>
                <div class="carrito">
                    <a [routerLink]="['/carrito']" (click)="drawer.opened=false" class="text-white">
                        <div class="m-0" style="font-size: 0.7rem">{{cantidadCarrito}} Articulos</div>
                        <div class="m-0">$ {{totalCarrito | number: '1.2-2'}}</div>
                    </a>
                </div>
            </div>
        </mat-toolbar>
        <div #lista>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="d-lg-none">
            <div class="container-fluid d-lg-none" [style.background-color]="colorHader">
                <div class="row">
                    <div class=" contacto text-warning">
                        Tienda Demo Desarrollada por <a class="text-warning" href="www.kingo.com.mx">www.kingo.com.mx</a>
                    </div>
                </div>
                <div class="row ">
                    <div class="m-2 text-white">
                        <i class="fas fa-bars" (click)="drawer.toggle()"></i>
                    </div>
                    <div class="ml-1">
                        <a href=""><img [src]="icono"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="ml-4 mt-2">
                        <select id="inputState" class="form-control" style="border-radius: 10px;">
                            <option selected>Selecciona tu tienda</option>
                            <option>Applebee's Mundo E</option>
                            <option>Applebee's Vía Vallejo</option>
                            <option>Applebee’s Plaza Carso</option>
                            <option>Applebee's Cuernavaca</option>
                            <option>Applebee’s Acapulco</option>
                          </select>
                    </div>
                </div>
                <div class="row">
                    <input type="text" class="form-control input m-2" placeholder="Buscar Producto" style="border: 1px solid #2d9fd9; border-radius: 20px;">
                </div>
            </div>
        </div>

        <main>
            <app-header class="d-none d-lg-block"></app-header>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>