<button type="button" class="btn btn-dark p-0" (click)="mostrarModal()">
    iniciar Sesion
</button>

<!-- The Modal -->
<div id="myModal" class="modal" #modal>

    <!-- Modal content -->
    <div class="modal-content" #modalContent>
      <span class="close" (click)="cerrarModal()">&times;</span>
      <div class="modal-header">
          <h5 style="color: #d11507;">Iniciar Sesion</h5>
      </div>
  
      <div class="modal-body">
          <form (ngSubmit)="onLogin(form)" #form="ngForm">
              <div class="form-group">
                <label for="email" class="text-secondary">Email</label>
                <input [ngModel]="emailForm" type="email" class="form-control" [class.is-invalid]="email.invalid && email.touched" name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                <div class="invalid-feedback">
                  Email no valido.
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="text-secondary">Constraseña</label>
                <input [ngModel]="passwordForm" type="password" class="form-control" name="password" [class.is-invalid]="password.invalid && password.touched" #password="ngModel" required>
              </div>
              <!-- <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" >Check me out</label>
              </div> -->
              <button type="submit" class="btn text-white" style="background-color: #d11507;">Entrar</button>
          </form>
          <br>
            <a href="#" class="text-info mt-3">Registrarse</a>
      </div>
    </div>
  
  </div>