<div class="container-fluid" #header>
    <div class="row">
        <div class="contacto text-warning">
            Tienda Demo Desarrollada por <a class="text-warning" href="www.kingo.com.mx">www.kingo.com.mx</a>
        </div>
    </div>
    <div class="row m-1 d-flex align-items-center ">
        <div class="col">
            <div class="ml-1">
                <a [routerLink]="['/home']"><img [src]="icono" class=""></a>
            </div>
        </div>
        <div class="col">
            <div>
                <select id="inputState" class="form-control" style="border-radius: 10px;">
                    <option selected>Selecciona tu tienda</option>
                    <option>Applebee's Mundo E</option>
                    <option>Applebee's Vía Vallejo</option>
                    <option>Applebee’s Plaza Carso</option>
                    <option>Applebee's Cuernavaca</option>
                    <option>Applebee’s Acapulco</option>
                  </select>
            </div>
        </div>
        <div class="col">
            <div class="">
                <input type="text" class="form-control input" placeholder="Buscar Producto">
            </div>
        </div>
        <div class="col">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <!-- <a href="# " class="iniciarSesion">Iniciar Sesion</a> -->
                    <app-login [width]="30"></app-login>
                </div>
                <div class="col">
                    <div class="row d-flex align-items-center">
                        <a [routerLink]="['/carrito']"><i class="fas fa-shopping-cart" 
                            [ngClass]="globalconfig.getcolorHeader() == '#FFFFFF' ? 'text-secondary' : 'text-white'"></i></a>
                        <div class="col-10">
                            <a [routerLink]="['/carrito']" 
                            [ngClass]="globalconfig.getcolorHeader() == '#FFFFFF' ? 'text-secondary' : 'text-white'">
                                <div class="m-0" style="font-size: 0.7rem">{{cantidadCarrito}} Articulos</div>
                                <div class="m-0">$ {{totalCarrito | number: '1.2-2' }}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" [style.background-color]="colorMenu">
        <nav class="navbar navbar-expand-lg m-0 p-0" #menu>

        </nav>

        <!-- <nav class="navbar navbar-expand-lg m-0 p-0">
            <div class="dropdown" *ngFor="let categoria of categorias">
                <button class="btn dropdown" [ngClass]="{'dropdown-toggle': categoria.hijos.length > 0}" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                  {{categoria.nombre}}
                </button>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" *ngIf="categoria.hijos.length > 0">
                    <li class="dropdown-item" *ngFor="let hijo of categoria.hijos"><a href="#">{{hijo.nombre}}</a></li>
                    
                    
                    <li class="dropdown-submenu">
                      <a  class="dropdown-item" tabindex="-1" href="#">Hover me for more options</a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item"><a tabindex="-1" href="#">Second level</a></li>
                        <li class="dropdown-submenu">
                          <a class="dropdown-item" href="#">Even More..</a>
                          <ul class="dropdown-menu">
                              <li class="dropdown-item"><a href="#">3rd level</a></li>
                                <li class="dropdown-submenu"><a class="dropdown-item" href="#">another level</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="#">4th level</a></li>
                                    <li class="dropdown-item"><a href="#">4th level</a></li>
                                    <li class="dropdown-item"><a href="#">4th level</a></li>
                                </ul>
                              </li>
                                <li class="dropdown-item"><a href="#">3rd level</a></li>
                          </ul>
                        </li>
                        <li class="dropdown-item"><a href="#">Second level</a></li>
                        <li class="dropdown-item"><a href="#">Second level</a></li>
                      </ul>
                    </li>


                </ul>
            </div>

        </nav> -->
    </div>
</div>