<div class="container-fluid bg-dark">
    <div class="row">
        <div class=" contacto">
            ¿Tienes alguna duda? Llámanos (744) 484.9493
        </div>
    </div>
    <div class="row m-1 d-flex align-items-center ">
        <div class="col">
            <div class="ml-1">
                <a [routerLink]="['/']"><img src="../../../assets/images/logo.JPG" class=""></a>
            </div>
        </div>
        <div class="col">
            <div>
                <select id="inputState" class="form-control" style="border-radius: 10px;">
                    <option selected>Selecciona tu tienda</option>
                    <option>Applebee's Mundo E</option>
                    <option>Applebee's Vía Vallejo</option>
                    <option>Applebee’s Plaza Carso</option>
                    <option>Applebee's Cuernavaca</option>
                    <option>Applebee’s Acapulco</option>
                  </select>
            </div>
        </div>
        <div class="col">
            <div class="">
                <input type="text" class="form-control input" placeholder="Buscar Producto">
            </div>
        </div>
        <div class="col">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <!-- <a href="# " class="iniciarSesion">Iniciar Sesion</a> -->
                    <button type="button" class="btn btn-dark p-0" (click)="mostrarModal()">
                        iniciar Sesion
                    </button>
                </div>
                <div class="col">
                    <div class="row text-white d-flex align-items-center">
                        <a [routerLink]="['/carrito']"><i class="fas fa-shopping-cart text-white"></i></a>
                        <div class="col-10">
                            <a [routerLink]="['/carrito']" class="text-white">
                                <div class="m-0" style="font-size: 0.7rem">0 Articulos</div>
                                <div class="m-0">$ 0.00</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #d11507;">
        <nav class="navbar navbar-expand-lg m-0 p-0">
            <div class="dropdown" *ngFor="let categoria of categorias">
                <button class="btn" [ngClass]="{'dropdown-toggle': categoria.hijos.length > 0}" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                  {{categoria.nombre}}
                </button>
                <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu" *ngIf="categoria.hijos.length > 0">
                    <li class="dropdown-item" *ngFor="let hijo of categoria.hijos"><a href="#">{{hijo.nombre}}</a></li>
                    <!-- <li class="dropdown-submenu">
                      <a  class="dropdown-item" tabindex="-1" href="#">Hover me for more options</a>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item"><a tabindex="-1" href="#">Second level</a></li>
                        <li class="dropdown-submenu">
                          <a class="dropdown-item" href="#">Even More..</a>
                          <ul class="dropdown-menu">
                              <li class="dropdown-item"><a href="#">3rd level</a></li>
                                <li class="dropdown-submenu"><a class="dropdown-item" href="#">another level</a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item"><a href="#">4th level</a></li>
                                    <li class="dropdown-item"><a href="#">4th level</a></li>
                                    <li class="dropdown-item"><a href="#">4th level</a></li>
                                </ul>
                              </li>
                                <li class="dropdown-item"><a href="#">3rd level</a></li>
                          </ul>
                        </li>
                        <li class="dropdown-item"><a href="#">Second level</a></li>
                        <li class="dropdown-item"><a href="#">Second level</a></li>
                      </ul>
                    </li> -->
                </ul>
            </div>

        </nav>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal" #modal>

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" (click)="cerrarModal()">&times;</span>
    <div class="modal-header">
        <h5>Iniciar Sesion</h5>
    </div>

    <div class="modal-body">
        <form (ngSubmit)="onLogin(form)" #form="ngForm">
            <div class="form-group">
              <label for="email">Email</label>
              <input [ngModel]="emailForm" type="email" class="form-control" [class.is-invalid]="email.invalid && email.touched" name="email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
              <div class="invalid-feedback">
                Email no valido.
              </div>
            </div>
            <div class="form-group">
              <label for="password">Constraseña</label>
              <input [ngModel]="passwordForm" type="password" class="form-control" name="password" [class.is-invalid]="password.invalid && password.touched" #password="ngModel" required>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn text-white" style="background-color: #d11507;">Entrar</button>
        </form>
        <br>
          <a href="" class="mt-3">Registrarse</a>
    </div>
  </div>

</div>