<div class="card col-lg-12 col-md-12 col-sm-12 ">
    <a><img [routerLink]="[ruta, producto.claveProducto]" class="card-img-top img-card" src="{{producto.imagen}}" alt="Card image cap"></a>
    <div class="card-body">
        <div class="row d-flex justify-content-center">
            <a [routerLink]="[ruta, producto.claveProducto]" ><h5 class="card-title">{{producto.nombre}}</h5></a>
        </div>

        <div class="row d-flex justify-content-center">
            <p class="card-text">${{producto.precio | number: '1.2-2'}}</p>
        </div>
        <div class="row d-flex justify-content-center">
            <input [(ngModel)]="cantidad" class="col-lg-3 col-md-3 col-sm-3 col-2 mr-3 form-control" type="number" min="0">
            <button (click)="agregarProducto()" class="btn btn-secondary">  <i class="fas fa-shopping-cart"></i> Agregar</button>
        </div>
    </div>
</div>

<div id="myModal" class="modal" #modal>
    <!-- Modal content -->
    <div class="modal-content modal-content-width" #modalContent>
      <span class="close" (click)="cerrarModal()">&times;</span>
      <div class="modal-header">
          <h5 style="color: #d11507;">Agregado al carrito</h5>
      </div>
      <div class="modal-body">
          <h6>¿Ir al carrito?</h6>
        <button type="button" class="btn btn-light" (click)="moverAlCarrito()">Si</button>
        <button type="button" class="btn btn-light" (click)="cerrarModal()">No</button>
      </div>
    </div>
  
  </div>