.productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
}

app-producto{
    padding: 10px;
}

.carousel-item, img{
    height: 100% !important;
    width:  100% !important;
}

@media (min-width: 992px){
    .carousel-inner{
        height: 30vh;
    }
    .size-carousel{
        width: 66.66% !important;
    }
}

@media (max-width: 993px){
    .carousel-inner{
        height: 20vh;
    }
}