<div class="container">
    <h2 class="card-title">Carrito</h2>
    <div>
        <div class="d-none d-lg-block">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">Articulo</div>
                <div class="col-lg-2">Precio</div>
                <div class="col-lg-2">Cantidad</div>
                <div class="col-lg-2">Total</div>
            </div>
        </div>
        
        <div>
            <div class="row align-items-center mt-3 mb-3 card-item " *ngFor="let item of itemsCarrito">
                <div class="col-lg-1 col-md-1"><div class="btn" (click)="removeItem(item.claveProducto)"><i id="remove" class="fas fa-minus-circle fa-2x"></i></div></div>
                <div class="col-lg-5 col-md-11">
                    <div class="row align-items-center" >
                        <div class="col-4">
                            <img src="{{item.imagen}}" alt="" style="height: 100px; width: 100px;">
                        </div>
                        <div class="col-8">
                            <div class="row">
                               <h6 class="font-weight-bold">{{item.nombre}}</h6>
                            </div>
                            <div class="row d-lg-none">
                                <div class="col-10 mb-3">
                                    <div class="input-group-prepend">
                                        <h6 class="mr-2">Precio: </h6>
                                        <h6 >${{item.precio | number: '1.2-2'}}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 col-md-5 mb-3 ">
                                <div class="row d-lg-none d-flex align-items-center">
                                    <h6 class="mr-2">Cantidad: </h6>
                                    <input class="form-control" type="number" min="0" value="{{item.cantidad}}" (change)="modificarCarito(item.claveProducto, $event.target.value)" >                                    
                                </div>
                            </div>
                            <div class="row d-lg-none">
                                <div class="col-10 input-group mb-3 ">
                                    <div class="input-group-prepend">
                                        <h6 class="mr-2">Total: </h6>
                                        <h6 >{{item.cantidad * item.precio | number: '1.2-2'}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 d-none d-lg-block">${{item.precio | number: '1.2-2'}}</div>
                <div class="col-lg-2 d-none d-lg-block "><input class="form-control" type="number"  min="0" value="{{item.cantidad}}" (change)="modificarCarito(item.claveProducto, $event.target.value)" ></div>
                <div class="col-lg-2 d-none d-lg-block">{{item.cantidad * item.precio | number: '1.2-2'}}</div>
            </div>
            <div class="row card-item mt-3 mb-3">
                <div class="col-6">
                   <h3> Total: ${{total | number: '1.2-2'}}</h3>
                </div>
                <div class="col-6">
                    <h5>Articulos: {{productosTotal}}</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- <table class="">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col" style="width: 200px;">Producto</th>
                <th scope="col" style="width: 200px;">Cantidad</th>
                <th scope="col" style="width: 200px;">Precio Unitario</th>
                <th scope="col" style="width: 200px;">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fas fa-times fa-2x m-3"></i></td>
                <td><img alt="Card image cap" class="card-img-top img-card" src="https://menu.applebees.com.mx/wp-content/uploads/2020/06/Texan-burger-e1592004708758.jpg" style="height: 200px; width: 200px;">
                </td>
                <td>
                    <p class="m-3">Hamburguesa</p>
                </td>
                <td>
                    <p class="m-3">2</p>
                </td>
                <td>
                    <p class="m-3">30.00</p>
                </td>
                <td>
                    <p class="m-3">60.00</p>
                </td>
            </tr>
        </tbody>
    </table> -->
    <div>
        <a [routerLink]="['/signup']" class="btn btn-warning" role="button" aria-pressed="true" style="border-radius: 20px;">Proceder al pago</a>
    </div>
</div>