<div class="container-fluid mt-2" [style.background-color]="color">
    <div class="d-none d-lg-block d-print-block">
        <div class="row p-3">
            <div class="col">
                <img [src]="icon" class="">
            </div>
            <div class="col text-white align-self-start">
                <div class="row">
                    <h5 class="">Soporte</h5>
                </div>
                <div class="row">
                    <a [routerLink]="['/sucursales']">Sucursales</a>
                </div>
                <div class="row">
                    <a href="#">Términos y condiciones de uso</a>
                </div>
                <div class="row">
                    <a href="#">Preguntas frecuentes</a>
                </div>
                <div class="row">
                    <a href="#">Políticas de devoluciones</a>
                </div>
            </div>
            <div class="col-2 text-white">
                <div class="row">
                    <h5 class="">Servicio al cliente</h5>
                </div>
                <div class="row justify-content-center" style="border-radius: 20px; border-style: solid; border-width: 1px;">
                    <i class="fas fa-phone-alt mr-2 mt-1"></i>
                    <h6>(744) 4839493</h6>
                </div>
                <div class="row">
                    <div style="font-size: 12px;">info@kingo.com.mx</div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center p-3">
            <div class="text-white" style="font-size: 12px;">Copyright © 2020 Kingo Systems S.A. de C.V.</div>
        </div>
    </div>
    <div class="d-block d-lg-none">
        <div class="row p-3">
            <div class="col text-white">
                <div>      
                    <div class="row">
                        <h5 class="">Soporte</h5>
                    </div>
                    <div class="row">
                        <a [routerLink]="['/sucursales']">Sucursales</a>
                    </div>
                    <div class="row">
                        <a href="#">Términos y condiciones de uso</a>
                    </div>
                    <div class="row">
                        <a href="#">Preguntas frecuentes</a>
                    </div>
                    <div class="row">
                        <a href="#">Políticas de devoluciones</a>
                    </div>
                </div>
                <div>
                    <div class="row">
                        <h5 class="">Servicio al cliente</h5>
                    </div>
                    <div class="row justify-content-center" style="border-radius: 20px; border-style: solid; border-width: 1px;">
                        <i class="fas fa-phone-alt mr-2 mt-1"></i>
                        <h6>(744) 4839493</h6>
                    </div>
                    <div class="row">
                        <div style="font-size: 12px;">info@kingo.com.mx</div>
                    </div>
                </div>
                <div>
                    <div class="row justify-content-center p-3">
                        <div class="text-white" style="font-size: 12px;">Copyright © 2020 Kingo Systems S.A. de C.V.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>